.ebc-field-portal-Directions {
  .App-body {
    padding: 0px 60px;
    .maps-container,
    .parking-container {
      text-align: center;
      position: relative;
      iframe {
        min-height: 450px;
        border: none;
        margin-bottom: 30px;
      }
      img {
        width: 100%;
      }
      .address {
        font-weight: 800;
        line-height: 26px;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
  }
}

$breakpoint-laptop: 1100px;
$breakpoint-phone: 680px;

@media (max-width: $breakpoint-laptop) {
  .beacon-Home {
    .App-container {
      .header-container {
        background-size: 602px;
        .App-title {
          top: 240px;
          padding: 5px;
          h1 {
            font-weight: 300;
            line-height: 38px;
            font-size: 36px;
            letter-spacing: 0.18em;
          }
        }
      }
      .App-body {
        .cards-container {
          grid-template-columns: 1fr 1fr;
          .card-container {
            grid-column: span 1;
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .beacon-Home {
    .App-container {
      .header-container {
        background-size: 402px;
        height: 300px;
        .App-title {
          top: 160px;
          padding: 5px;
          h1 {
            font-weight: 300;
            line-height: 38px;
            font-size: 16px;
            letter-spacing: 0.18em;
            margin: 0px;
          }
        }
      }
      .App-body {
        .dropdown-container {
          grid-template-columns: 1fr;
          grid-gap: 5px;
          padding: 10px 80px;
        }
        .cards-container {
          grid-template-columns: 1fr;
          .card-container {
            grid-column: span 1;
          }
        }
      }
    }
  }
}
