.App-container {
  .ebc-field-portal-Concierge {
    .App-body {
      padding: 0px 60px;
      .concierge-content-container {
        margin-bottom: 60px;
        .list.concierge {
          ul {
            li {
              text-align: left;
              display: block;
            }
          }
        }
      }
      .save-copy-container {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 50px;
        .btn-save {
          display: inline-block;
          margin-left: 20px;
          background: #73d487;
          padding: 15px 30px;
          color: white;
          border-radius: 3px;
        }
        .save-copy {
          line-height: 4;
        }
      }
      .catering-container {
        margin-bottom: 120px;
        span {
          display: block;
          margin: 0px 120px;
        }
      }
    }
  }
}

$breakpoint-laptop: 1100px;
$breakpoint-phone: 680px;

@media (max-width: $breakpoint-laptop) {
  .ebc-field-portal-Concierge {
    .App-container {
      .header-container {
        background-size: 602px;
        .App-title {
          top: 240px;
          padding: 5px;
          h1 {
            font-weight: 300;
            line-height: 38px;
            font-size: 36px;
            letter-spacing: 0.18em;
          }
        }
      }
      .App-body {
        .cards-container {
          grid-template-columns: 1fr 1fr;
          .card-container {
            grid-column: span 1;
          }
        }
        .catering-container {
          padding: 20px;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-phone) {
  .ebc-field-portal-Concierge {
    .App-container {
      .header-container {
        background-size: 402px;
        height: 300px;
        .App-title {
          top: 160px;
          padding: 5px;
          h1 {
            font-weight: 300;
            line-height: 38px;
            font-size: 16px;
            letter-spacing: 0.18em;
            margin: 0px;
          }
        }
      }
      .App-body {
        .dropdown-container {
          grid-template-columns: 1fr;
          grid-gap: 5px;
          padding: 10px 80px;
        }
        .cards-container {
          grid-template-columns: 1fr;
          .card-container {
            grid-column: span 1;
          }
        }
      }
    }
  }
}
